<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS example with a controller</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="controllers.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br> Last Name: <input type="text" ng-model="lastName"><br>
        <br> Full Name: {{firstName + " " + lastName}}
        <!-- firstName and lastName here will get their initial values from the controller where
        they are defined with $scope.firstName and $scope.lastName -->
    </div>
</body>

</html>